$dark-green-01: #0a150f;
$dark-green-02: #1f332b;
$dark-green-03: #305344;
$light-green-01: #97f675;
$grey: #ebebeb;
$grey-02: #eaeaea;

html {
    font-size: 16px;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: $dark-green-01;
}

button {
    font-family: 'Poppins', sans-serif;
}

.side-bar {
    height: 100vh;
    min-width: 18rem;
    background-color: $dark-green-01;
    position: fixed;
    color: #fff;
    padding: 3rem 1.5rem;
    box-sizing: border-box;

    .wrapper {
        position: relative;
        height: 100%;

        .logo {
            display: flex;
            align-items: center;
            font-size: 2.6rem;
            opacity: 0.7;
            margin-left: .4rem;
            span {
                margin-left: .5rem;
                text-transform: capitalize;
                font-size: 1.2rem;
                letter-spacing: .05rem;
            }
        }

        nav {
            &.main-menu {
                margin-top: 2rem;
            }
            
            li {
                margin-bottom: .4rem;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.3rem;
                    font-weight: 600;
                    padding: .8rem 1rem;
                    transition: 150ms all ease-in-out;
                    border-radius: 2px;
                    i.fa-solid {
                        width: 40px;
                    }
                    span {
                        font-size: .8rem;
                        text-transform: capitalize;
                        opacity: .8;
                    }
                }

                &.active, &:hover {
                    a {
                        background-color: $light-green-01;
                        color: $dark-green-01;
                    }
                }
            }
        }

        .bottom-sheets {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

.content {
    background-color: #fff;
    height: 100%;
    margin-left: 18rem;
    display: flex;

    .cards {
        min-width: 26rem;
        height: 100vh;
        background-color: #f1f3f0;
        border-right: 1px solid $grey;
    }

    .card-head {
        background-color: #f8faf7;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        h1 {
            font-size: 1.7rem;
            font-weight: 600;
        }
        .btn {
            font-size: 1.2rem;
            border: none;
            background: none;
            margin-left: .8rem;
            cursor: pointer;
        }
    }

    .cards-list {
        li {
            background-color: #f8faf7;
            position: relative;
            padding: 1.85rem 3rem;
            border-bottom: 1px solid $grey;
            overflow: hidden;
            transition: 50ms all ease-in-out;
            cursor: pointer;
        }
        .card-details {
            .title {
                text-transform: capitalize;
                font-size: .9rem;
                font-weight: 600;
            }
            .status {
                display: block;
                text-transform: uppercase;
                font-size: .7rem;
                font-weight: 600;
                margin: .6rem 0;
                position: relative;
                padding-left: .8rem;
                &::before {
                    content: '';
                    height: 7px;
                    width: 7px;
                    background-color: #0a150f;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
            .access {
                font-size: .8rem;
                display: flex;
                align-items: center;
                .__txt {
                    opacity: .8;
                    font-weight: 500;
                }
                .count {
                    margin-left: .6rem;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $grey-02;
                    height: 18px;
                    width: 22px;
                    font-size: .7rem;
                    font-weight: 600;
                    border-radius: 3px;
                }
            }
        }
        .card-design {
            position: absolute;
            right: -41px;
            bottom: -1px;
            width: 140px;
            height: 92px;
            background-color: #fff;
            border-top-left-radius: 12px;
            border: 1px solid #ebebeb;
            box-shadow: 5px 15px 17px 2px rgba(210, 210, 210, 0.45);
            .stripe {
                height: 1.35rem;
                width: 100%;
                background: linear-gradient(45deg, $grey-02, #f8faf7);
                position: relative;
                top: .75rem;
            }
            .last-four-digits {
                position: absolute;
                top: 3.4rem;
                left: 1.6rem;
                font-size: .95rem;
                font-weight: 600;
                letter-spacing: 1px;
                color: $dark-green-02;
            }
        }

        li {
            &.active {
                background: $dark-green-02;
                border-bottom: 1px solid $dark-green-02;
                color: #fff;
                .card-details {
                    .status {
                        &::before {
                            background-color: #fff;
                        }
                    }
                    .count {
                        background-color: $dark-green-03;
                    }
                }
                .card-design {
                    background-color: $dark-green-03;
                    border: none;
                    transform: translateX(-30px);
                    box-shadow: none;
                    .stripe {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
                    }
                    .last-four-digits {
                        color: #fff;
                    }
                }
            }

            &.disabled {
                opacity: .6;
                pointer-events: none;
                margin-top: .8rem;
                .card-details {
                    .access {
                        display: none;
                    }
                }
            }
        }
    }

    .card-details {
        width: 100%;
        .wrapper {
            width: 90%;
            height: 100%;
            margin: auto;
            padding-top: 2.4em;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5.6rem;
            .title {
                display: flex;
                align-items: center;
                .logo {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $light-green-01;
                    width: 45px;
                    height: 40px;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 25px;
                        height: 18px;
                        background-color: $dark-green-02;
                        border-radius: 2px;
                    }
                }
                h1 {
                    margin-left: 1.6rem;
                    font-size: 1.7rem;
                    font-weight: 600;
                }
            }
            .manage {
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 600;
                background-color: transparent;
                border: 2px solid $dark-green-02;
                padding: .4rem 1.4rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: 150ms all ease-in-out;
                .fa-solid {
                    margin-left: 1rem;
                    font-size: 1.4rem;
                    position: relative;
                    top: 1px;
                }

                &:hover {
                    background-color: $dark-green-02;
                    color: #fff;
                }
            }
        }

        .row {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            &.details {
                display: grid;
                grid-template-columns: repeat(7, auto);
                border-bottom: 1px solid $grey;
                .title {
                    display: block;
                    text-transform: uppercase;
                    font-size: .85rem;
                    font-weight: 600;
                    opacity: .3;
                    margin-bottom: 1rem;
                }

                .value {
                    display: flex;
                    align-items: top;
                    .__value {
                        font-size: 1.1rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

                // we need to target the icon from card-number and increase the size
                .card-number {
                    .fa-regular {
                        font-size: 1.3rem;
                        margin-left: .8rem;
                        position: relative;
                        bottom: 2px;
                    }
                }

                // we need to target the icons from CVV and style them differently
                .cvv {
                    .value {
                        display: flex;
                        align-items: center;
                        .fa-solid {
                            font-size: .7rem;
                            margin-left: -0.25rem;
                            position: relative;
                            bottom: 2px;
                        }
                        .fa-regular {
                            margin-left: .85rem;
                            font-size: 1.15rem;
                        }
                    }
                }

                .divider {
                    width: 1px;
                    background-color: $grey;
                }
            }

            &.spendings {
                display: flex;
                justify-content: space-between;
                gap: 4rem;
                .spending-limits {
                    width: 50%;
                    .title {
                        font-size: 1.3rem;
                        font-weight: 700;
                        margin-bottom: 2.3rem;
                    }
                }

                .spending-limits-stats {
                    .__title {
                        text-transform: uppercase;
                        font-size: .85rem;
                        font-weight: 700;
                        opacity: .3;
                    }
                    .progress-bar {
                        width: 100%;
                        height: 14px;
                        background-color: $grey;
                        overflow: hidden;
                        margin: 1rem 0;
                        .progress-fill {
                            display: block;
                            height: inherit;
                            width: 10%;
                            background-color: $dark-green-03;
                        }
                    }
                    .stats-data {
                        display: flex;
                        justify-content: space-between;
                        font-size: .95rem;
                        font-weight: 600;
                        color: #398f6a;
                    }
                }

                .estimated {
                    position: relative;
                    background-color: #f8faf7;
                    color: #398f6a;
                    width: 50%;
                    padding: 1.6rem;
                    box-sizing: border-box;
                    overflow: hidden;
                    .desc {
                        color: $dark-green-03;
                        font-size: 1rem;
                        font-weight: 600;
                        line-height: 1.65rem;
                    }
                    .amount {
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin-top: 1.2rem;
                    }
                    a.btn {
                        text-decoration: none;
                        position: absolute;
                        right: -46px;
                        top: 46px;
                        font-size: 1.4rem;
                        color: #398f6a;
                        background-color: #f1f3f0;
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fa-solid {
                            position: absolute;
                            bottom: 72px;
                            left: 46px;
                        }
                    }
                }
            }
        }
    }
}